.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 4%;
}
.navbar .logo{
    width: max(10%,80px);
}
.navbar .profile{
  width: 70px;           /* set width */
  height: 70px;          /* set height */
  border-radius: 50%;     /* makes it a perfect circle */
  object-fit: cover;      /* ensures image covers the circle */
  overflow: hidden;       /* hides overflow */
}